*{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px;
    
}

.page{
    max-height: 45rem;
}
body{
    background: linear-gradient(89.85deg, #1383DA -10.95%, #000000 91.16%);
}
.header{
    text-align: center;
    padding-top: 1rem;
}
.rightimage{
    float: right;
    margin-top: -80px;
}
.leftimg{
    padding-left: 2rem;
    margin-top: -20px;
    display: inline-flex;
}
.leftimg img{
    width: 28rem;
    height: auto;
}
.img4 img{
    /* margin-left: 40px; */
}
.bottomimg{
    padding-top: 70px;
}
.bottomimgright{
    float: right;
    padding-right: 80px;
}
.bottomimgright span img{
    width: 30rem;
}
.box1{
    background-image: linear-gradient(to right, white , rgb(85, 85, 213));
    /* background: linear-gradient(270.16deg, #6665D2 1.28%, rgba(102, 101, 210, 0) 98.28%); */
    border-radius: 40px;
    width: 400px;
    height: 45px;
    border-radius:25px;
    margin-top: 8px;   
    right: 100px;
    
}
.box1 {
    border: 2px solid white , rgb(85, 85, 213);
    background-color: #d7e0f7;
    border-radius: 20px;
    color: rgb(14, 12, 12);
    transition: .3s;
  }
  .box1:hover {
    box-shadow: 8px 8px #696993;
    transition: .3s;
  }
.box1 svg{
    padding-top: 4px;
    padding-left: 5px;
    width: 37px;
    fill: rgb(124, 87, 199);

}
/*.box1 :hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.15);
    transform: scale(1.3);
    -moz-border-radius :100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; 
    transition: .3s;
   
}*/
.box1 h3{
    /* display: inline-flex; */
    text-align: center;
    margin-top: -30px;
    -moz-border-radius :10px;
    -webkit-border-radius: 100px;
    border-radius: 100px; 
    transition: .3s;
    
}
.box2{
    background-image: linear-gradient(270.18deg, #1ba5e4 0.1%, rgba(78, 183, 232, 0) 95.03%);
    width: 400px;
    height: 45px;
    border-radius:25px;
    margin-top: 8px;    
}
.box2 img{
    width: 37px;
    /* fill: rgb(59, 158, 224); */
}
.box2 h3{
    /* display: inline-flex; */
    text-align: center;
    margin-top: -30px;
}
.box2 {
    border: 2px solid #1ba5e4 0.1%, rgba(78, 183, 232, 0);
    background-color: #d7e0f7;
    border-radius: 20px;
    color: rgb(14, 12, 12);
    transition: .3s;
  }
  .box2:hover {
    box-shadow: 8px 8px #fcfcfd;
    transition: .3s;
  }
/*.box2 :hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1.15);
    transform: scale(1.2);
   
}*/
.box3{
    background-image: linear-gradient(89.8deg, #FED6D7 9.61%, #E452CC 103.22%);
    width: 400px;
    height: 45px;
    border-radius:25px;
    margin-top: 8px;    
}
.box3 h3{
    /* display: inline-flex; */text-align: center;
    margin-top: -30px;
}
.box3 img{
    padding-top: 2px;
    padding-left: 7px;
    width: 37px;
}
/*.box3 :hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1.15);
    transform: scale(1.2);
   
}*/
.box3 {
    border: 2px solid #FED6D7 9.61%, #E452CC 103.22%;
    background-color: #d27edf;
    border-radius: 20px;
    color: rgb(14, 12, 12);
    transition: .3s;
  }
  .box3:hover {
    box-shadow: 8px 8px #da87d3;
    transition: .3s;
  }

.box4{
    background-image: linear-gradient(270.13deg, #0B86CA -1.93%, rgba(11, 134, 202, 0) 92.2%);
    width: 400px;
    height: 45px;
    border-radius:25px;
    margin-top: 8px;    
}
.box4 h3{
    /* display: inline-flex; */
    text-align: center;
    margin-top: -30px;
}
.box4 img{
    width: 37px;
    /* fill: blue; */
}
.box4 {
    border: 2px solid #0B86CA -1.93%, rgba(11, 134, 202, 0) 92.2%;
    background-color: #8da5df;
    border-radius: 20px;
    color: rgb(14, 12, 12);
    transition: .3s;
  }
  .box4:hover {
    box-shadow: 8px 8px #4a96c1;
    transition: .3s;
  }
/*.box4 :hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1.15);
    transform: scale(1.2);
   
}*/
.box5{
    background-image:  linear-gradient(270deg, #31A8DB -1.39%, rgba(137, 191, 214, 0) 101.26%);
    width: 400px;
    height: 45px;
    border-radius:25px;
    margin-top: 8px;    
}
.box5 h3{
    /* display: inline-flex; */
    text-align: center;
    margin-top: -30px;
}
.box5 img{
    width: 37px;
    /* fill: rgb(55, 164, 232); */
}
/*.box5 :hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1.15);
    transform: scale(1.2);
}*/
.box5 {
    border: 2px solid #80c2ee;
    background-color: #80c2ee;
    border-radius: 20px;
    color: rgb(14, 12, 12);
    transition: .3s;
  }
  .box5:hover {
    box-shadow: 8px 8px #81d9f1;
    transition: .3s;
  }
.box6{
    background-image: linear-gradient(270deg, #5FE54B 0%, rgba(210, 229, 75, 0) 102.39%);
    width: 400px;
    height: 45px;
    border-radius:25px;
    margin-top: 8px;    
}
.box6 h3{
    /* display: inline-flex; */
    text-align: center;
    margin-top: -30px;
}
.box6 img{
    width: 37px;
}
/*.box6 :hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1.15);
    transform: scale(1.2);
   
}*/
.box6 {
    border: 2px solid #77e48b;
    background-color: #77e48b;
    border-radius: 20px;
    color: rgb(14, 12, 12);
    transition: .3s;
  }
  .box6:hover {
    box-shadow: 8px 8px #587f5d;
    transition: .3s;
  }
.boxes{
    box-align: center;
    display: inline-block;
    padding-top: 78px;
    margin-left: 85px;
    padding-bottom: 15px;
    
}
.copyright{
    font-size: 0.8rem;
    color:rgb(231, 231, 231);
    text-align: center;
}
.contact a{
    margin-top: 0;
    color: #C6ac81;
    
}
.contact-us {
    margin-left: 50px;
}